# Use the Google style in this project.
# https://google.github.io/styleguide/cppguide.html
BasedOnStyle: Google

# ... adapt to our local style.
IndentWidth: 4
ContinuationIndentWidth: 4
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
IndentCaseLabels: false
IndentPPDirectives: None
